<div class="design-container">
    <div class="design3 min-h-screen relative overflow-hidden
                 bg-gradient-to-br from-dark-blue-bg via-medium-blue-bg to-light-blue-bg">

        <div class="absolute inset-0 z-0 radial-gradient-overlay"></div>

        <app-header-home-main></app-header-home-main>

        <main class="product-page-content relative z-10 p-8 pt-24 text-white">
            <h2 class="text-3xl font-bold text-center mb-8 text-white">NUESTROS PRODUCTOS</h2>

            <div class="search-bar flex justify-center mb-8 gap-4 px-4 w-full">
                <input
                    type="text"
                    [(ngModel)]="searchTerm"
                    (input)="filterProducts()"
                    placeholder="Buscar producto por nombre..."
                    class="w-full max-w-md p-3 text-gray-900 bg-white rounded-lg
                                focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent
                                shadow-md"
                />
            </div>

            <div *ngIf="isLoading" class="text-white text-center col-span-full text-lg mb-4">Cargando productos...</div>
            <div *ngIf="errorMessage" class="text-red-500 text-center col-span-full text-lg mb-4">{{ errorMessage }}</div>

            <div *ngIf="!isLoading && !errorMessage" class="products-grid grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 max-w-6xl w-full mx-auto">
                <div *ngFor="let product of filteredProducts"
                     class="product-card flex flex-col items-center p-6 bg-white/10 rounded-xl shadow-lg
                             hover:bg-white/20 transition-all duration-300 ease-in-out transform hover:-translate-y-1
                             border border-white/5 text-white cursor-pointer"
                     (click)="openProductModal(product)">

                    <img [src]="getFullImageUrl(product.imagen_url)"
                         [alt]="product.nombre_producto"
                         class="w-50 h-50 object-cover rounded-xl mb-4 border-2 border-green-400 p-1">

                    <span class="text-xl font-semibold font-montserrat text-center mb-2">{{ product.nombre_producto }}</span>

                    <span *ngIf="product.category" class="text-sm text-gray-300 mb-2">{{ product.category }}</span>

                    <!-- <span class="text-2xl font-bold text-yellow-300">{{ product.price | currency:'Bs. ':'symbol':'1.2-2' }}</span> -->
                </div>

                <p *ngIf="filteredProducts?.length === 0 && !isLoading && !errorMessage" class="text-white text-center col-span-full text-lg">
                    No se encontraron productos.
                </p>
            </div>
        </main>     
    </div>
    <app-footer-home-main></app-footer-home-main>
</div>