//sistema-ventas-frontend/src/app/modules/product/modal-product/modal-product.component.scss
::ng-deep .p-dialog {
    border: 2px solid #d1d5db !important; /* gris claro con !important */
    border-radius: 0.75rem !important; /* bordes redondeados */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
    padding: 25px;
    background: #ffffff;
  }