 <app-header-home-main></app-header-home-main>
  <div class="design3 min-h-screen relative overflow-hidden
                 bg-gradient-to-br from-dark-blue-bg via-medium-blue-bg to-light-blue-bg">
  <div class="max-w-6xl mx-auto">
    <div class="text-center mb-10">
      <h2 class=" p-8 text-3xl font-bold text-center  text-white ">QUIÉNES SOMOS</h2>
      <p class=" text-gray-400 text-lg">Somos una importadora dedicada a ofrecer productos de alta calidad con un servicio confiable.</p>
    </div>

    <div class="grid md:grid-cols-3 gap-8 text-center max-w-6xl mx-auto">

        <img src="/portada_color.jpg" class="w-full h-120 object-cover rounded-2xl mb-4 mx-auto">

      <div class="bg-white rounded-2xl shadow p-6">
        <i class="pi pi-globe text-green-600 text-4xl mb-4"></i>
        <h2 class="text-xl font-semibold text-gray-800">Nuestra visión</h2>
        <p class="mt-2 text-gray-600">La misión principal de la importadora es, proveer productos de calidad, 
          variedad con precios competitivos a fin de permitir que sus clientes tengan éxito en sus negocios </p>
      </div>

      <div class="bg-white rounded-2xl shadow p-6">
        <i class="pi pi-check-circle text-purple-600 text-4xl mb-4"></i>
        <h2 class="text-xl font-semibold text-gray-800">Nuestra misión</h2>
        <p class="mt-2 text-gray-600">La visión principal de la Importadora es, ser una empresa de excelencia, 
          confiable comprometida con sus clientes ofreciendo productos novedosos al mejor precio del mercado</p>
      </div>

    </div>

    <div class="mt-12 text-center p-4">
            <a href="https://api.whatsapp.com/send?phone=59174057107&text" target="_blank">
                <button type="button" 
                        class="bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-full 
                               shadow-lg transition duration-300 flex items-center justify-center mx-auto">
                    <i class="pi pi-whatsapp mr-2"></i> Contáctanos por WhatsApp
                </button>
            </a>
        </div>
        
  </div>
</div>
<app-footer-home-main></app-footer-home-main>